:root {
  --color-blue-main: #139bd7;
  --color-font-default: #254858;
  --color-font-h2: #0a76a6;
  --color-blue-dark: #235d9f;
  --color-background: #e0e8f1;
}

* {
  padding: 0;
  margin: 0;
  font-family: Heebo;
  font-size: 18px;
  font-weight: bold;
  color: var(--color-font-default);
  box-sizing: border-box;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}
header {
  position: sticky; /* nötig damit z-index greift */
  top: 0; /* Nötig, damit die top bar nicht hoch scrollt */
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 500;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--color-blue-main);
}

h2 {
  font-size: 48px;
  color: var(--color-font-h2);
}
h3 {
  font-size: 32px;
}

.header--main {
  position: relative; /* Wird benötigt, sonst funktioniert Z-Index nicht*/

  display: flex;
  justify-content: center;

  height: 80px;

  padding: 0 16px;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.header--contact {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 16px;

  height: 42px;
  background-color: var(--color-blue-main);
}
.header--main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.header--contact-container {
  display: flex;
  justify-content: flex-end;

  width: 1200px;

  color: white;
}
.navigation--container li {
  display: inline;
  margin-right: 32px;
}
.navigation--container li:last-child {
  margin: 0;
}
.button--blue {
  background-color: var(--color-blue-main);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}
.button--blue:hover {
  background-color: var(--color-blue-dark);
}
.contact--item {
  display: flex;
  align-items: center;

  font-weight: normal;
  color: white;

  gap: 8px;
  margin-left: 32px;
}
.contact--link {
  color: white;
}
.contact--link:hover {
  color: white;
  text-decoration: underline;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;

  background-image: url(../images/hero_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.hero--effect {
  position: absolute;
  height: 350px;
  min-width: 100%;
  background-image: url(../images/hero_background_frame.svg);
  background-position: center bottom;

  background-repeat: no-repeat;
  background-size: 100% 350px;
}
.hero--container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}
.content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-top: 120px;
  padding-bottom: 32px;
}
.content--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 68px;

  width: 100%;
  max-width: 1200px;

  background-color: white;

  border-radius: 40px;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.hero--container-name {
  height: 320px;
}
.hero--name {
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  font-size: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 8px 32px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  margin-bottom: 16px;
}
.hero--description {
  background-color: rgba(69, 73, 82, 0.7);
  color: white;
  border-radius: 10px;
  padding: 8px 32px;
  width: 710px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
.section {
  scroll-margin-top: 100px; /* wird wegen dem Header benötigt */
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 36px 64px 36px 64px;
  gap: 32px;
}
.card--container {
  display: flex;
  width: 100%;
  gap: 16px;
}
.card--container-image {
  max-width: 340px;
  width: 30%;
  height: auto;
}
.text--container {
  width: 100%;
  background-color: var(--color-background);
  padding: 8px 16px 16px 16px;
  border-radius: 5px;
}
.section--2 {
  background-color: var(--color-background);
}
.times-map-container {
  display: flex;
  gap: 64px;
  width: 100%;
}
.timesheet {
  width: 100%;
}
.times-container {
  display: grid;
  width: 100%;
  grid-template-columns: 126px 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
.workday {
  display: flex;
  justify-content: center;
  background-color: var(--color-blue-main);
  color: white;
  border-radius: 4px;
  padding: 8px 0px;
}
.times {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 4px;
  padding: 8px 0;
}
.list-empty {
  list-style: none;
}
.map-container {
  width: 100%;
}
.map {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 10px;
}
.dark-text {
  color: var(--color-font-default);
}
.dark-text:hover {
  color: var(--color-blue-main);
}
.horizontal-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.impressum--grid {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.span2 {
  grid-column: span 2;
}
.impressum--container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section--4 {
  padding-bottom: 16px;
}
.hamburger {
  display: none;
}
@media (max-width: 1200px) {
  .hero--container-name {
    padding: 0 16px;
  }
}
@media (max-width: 1000px) {
  .header--contact-container {
    justify-content: space-between;
  }
  .contact--item {
    margin: 0;
  }
  .hamburger {
    display: inline-block;
  }
  .navigation--container {
    display: none;
  }
  .hero--container-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px 16px;
  }
  .section {
    padding: 32px;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 28px;
  }
  h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 8px;
  }
  .content {
    padding-top: 0;
  }
  .card--container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card--container-image {
    max-width: none;
    width: 100%;
  }
  .text--container {
    padding: 16px;
    width: 100%;
  }
  .horizontal-align {
    flex-direction: column;
  }
  .contact--item {
    margin: 0;
  }
  .times-map-container {
    flex-direction: column;
  }
  .section {
    padding: 16px 16px;
    gap: 16px;
  }
  .impressum--grid {
    grid-template-columns: 130px 1fr;
  }
  .hero {
    height: 360px;
  }
  .hero--effect {
    height: 300px;
    background-size: 100% 100%;
  }
  .hero--description {
    display: none;
    width: 100%;
    padding: 8px;
  }
  .hero--name {
    background-color: rgba(69, 73, 82, 0.7);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    padding: 8px 32px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Safari */

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  }
  .hero--name p {
    color: white;
  }
  .hero--container-name {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    justify-content: flex-end;
  }
  .navigation--container {
    display: none;
  }
  .header--contact {
    height: auto;
  }
  .header--contact-container {
    width: 100%;
    justify-content: space-between;
    padding: 8px 0;
  }
  .hero--container {
    align-items: flex-start;
    justify-content: center;
    padding-top: 8px;
  }

  .hero--container img {
    position: relative;

    height: 160%;
    width: auto;
    object-fit: cover;
  }
  .contact--link {
    font-size: 12px;
  }
  .about-us--p {
    padding: 0 16px;
  }
  .times-container {
    align-items: center;
    justify-content: center;
  }
}
